<ng-include src="'partials/authMap.html'"></ng-include>
<div class="row" style="z-index: 20">
	<div class="medium-5 small-centered columns panel auth-form">
		<h1>Contact</h1>
		<div class="row">
			<div class="medium-12 columns">
				<label>For technical support:</label>
				<label>help@shelterconnect.net</label>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>For anything else:</label>
				<label>mateo@shelterconnect.net</label>
			</div>
		</div>
	</div>
</div>