<ng-include src="'partials/authMap.html'"></ng-include>
<div class="row" style="z-index: 20">
	<div class="medium-5 small-centered columns panel auth-form">
		<h1>Meet the team</h1>
		<div class="row">
			<div class="medium-12 columns">
				<h4>CEO</h4>
				<p style="margin:0">Ankur Jain</p>
				<p>ankur@shelterconnect.net</p>
				<br>
				<h4>CTO</h4>
				<p style="margin:0">Mateo Abascal</p>
				<p>mateo@shelterconnect.net</p>
				<br>
				<h4>CFO</h4>
				<p style="margin:0">Max Gunara</p>
				<p>max@shelterconnect.net</p>
				<br>
				<h4>Design</h4>
				<p style="margin:0">Sam Ohagan</p>
				<p>sam@shelterconnect.net</p>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<h3>Original creators</h3>
				<p style="margin:0">Zach Latta</p>
				<p style="margin:0">Julian Poyourow</p>
				<p style="margin:0">Mateo Abascal</p>
				<p>Ankur Jain</p>
			</div>
		</div>
	</div>
</div>