<ng-include src="'partials/authMap.html'"></ng-include>
<div class="row" style="z-index: 20">
	<div class="medium-5 small-centered columns panel auth-form">
		<h1>Meet the team</h1>
		<div class="row">
			<div class="medium-12 columns">
				<label>Current Team</label>
				<h2>CEO</h2>
				<p>Ankur Jain</p>
				<p class="team-email">ankur@shelterconnect.net</p>
				<br>
				<h2>CTO</h2>
				<p>Mateo Abascal</p>
				<p class="team-email">mateo@shelterconnect.net</p>
				<br>
				<h2>CFO</h2>
				<p>Max Gunara</p>
				<p class="team-email">max@shelterconnect.net</p>
				<br>
				<h2>Design</h2>
				<p>Sam Ohagan</p>
				<p class="team-email">sam@shelterconnect.net</p>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<label>Original creators</label>
				<p>Zach Latta</p>
				<p>Julian Poyourow</p>
				<p>Mateo Abascal</p>
				<p>Ankur Jain</p>
			</div>
		</div>
	</div>
</div>