<ng-include src="'partials/authMap.html'"></ng-include>
<div class="row" style="z-index: 20">
	<div class="medium-5 small-centered columns panel auth-form">
		<h1>Meet the team</h1>
		<div class="row">
			<div class="medium-12 columns">
				<h4>Ankur Jain</h4>
				<p style="margin:0">Co-Founder and CEO</p>
				<p>ankur@shelterconnect.net</p>
				<br>
				<h4>Mateo Abascal</h4>
				<p style="margin:0">Co-Founder and CTO</p>
				<p>mateo@shelterconnect.net</p>
				<br>
				<h4>Max Gunara</h4>
				<p style="margin:0">Co-Founder and CFO</p>
				<p>max@shelterconnect.net</p>
				<br>
				<h4>James Anderson</h4>
				<p style="margin:0">Co-Founder and Software Engineer</p>
				<p>james@shelterconnect.net</p>
				<br>
				<h4>Sam O'Hagan</h4>
				<p style="margin:0">Co-Founder and Graphic Design Specialist</p>
				<p>sam@shelterconnect.net</p>
				<br>
				<h4>Jordan Hu</h4>
				<p style="margin:0">Co-Founder and Logistics Specialist</p>
				<p>jordan@shelterconnect.net</p>
				<br>
				<h4>Original Creators</h4>
				<p style="margin:0">Zach Latta</p>
				<p style="margin:0">Julian Poyourow</p>
				<p style="margin:0">Mateo Abascal</p>
				<p>Ankur Jain</p>
			</div>
		</div>
	</div>
</div>